@use "../abstracts/variables" as *;
@use "../utils/breakpoints" as *;

@mixin buttons {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@mixin chatButtons {
  display: flex;
  align-items: center;
  gap: 7px;

  font-size: 1.1rem;
  font-weight: $mediumWg;
  transition: 0.25s;

  &:hover {
    opacity: 0.4;
  }
}

.comment {
  margin-bottom: 15px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  background-color: $white;
  border-radius: $borderRad;

  @include breakpoint(desktop) {
    flex-direction: row-reverse;
    min-height: 150px;
  }

  &__content {
    padding: 0 20px;

    @include breakpoint(desktop) {
      flex: 9;
    }

    .header {
      margin-bottom: 10px;

      display: flex;
      align-items: center;
      gap: 20px;

      @include breakpoint(desktop) {
        justify-content: space-between;
      }

      .details {
        display: flex;
        align-items: center;
        gap: 20px;
      }

      .avatar {
        width: 35px;
      }

      .you {
        background-color: $modBlue;
        color: $white;
        padding: 2px 7px;
      }

      .user {
        color: $darkBlue;
        font-weight: $mediumWg;
      }
    }

    .text {
      line-height: 1.5rem;

      .replyingTo {
        color: $modBlue;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;

    .likes {
      display: flex;
      align-items: center;
      gap: 10px;

      background-color: $liteGray;
      padding: 5px 10px;
      border-radius: 7px;

      @include breakpoint(desktop) {
        max-height: 100px;
        padding: 10px 10px;

        flex-direction: column;
        justify-content: space-around;
        text-align: center;
      }

      .plusBtn {
        @include buttons;

        path {
          transition: 0.2s;
        }

        &:hover {
          path {
            fill: $modBlue;
          }
        }
      }

      .score {
        color: $modBlue;
        font-weight: $mediumWg;
      }

      .minusBtn {
        @include buttons;
        display: flex;
        align-items: center;

        path {
          transition: 0.2s;
        }

        &:hover {
          path {
            fill: $modBlue;
          }
        }
      }
    }
  }

  &__reply {
    @include buttons;
    @include chatButtons;

    color: $modBlue;
  }

  &__userBtns {
    display: flex;
    flex-wrap: nowrap;
  }

  &__delete {
    @include buttons;
    @include chatButtons;

    color: $softRed;
  }

  &__edit {
    @include buttons;
    @include chatButtons;

    color: $modBlue;
  }

  .desktop {
    display: none;

    @include breakpoint(desktop) {
      display: flex;
    }
  }

  .mobile {
    @include breakpoint(desktop) {
      display: none;
    }
  }
}

.replies {
  display: flex;

  &__offset {
    flex: 1;
    .line {
      content: " ";
      width: 3px;
      height: 100%;
      background-color: $liteGray;
    }

    @include breakpoint(desktop) {
      margin-right: 30px;
      display: flex;
      justify-content: center;
    }
  }

  &__replies {
    width: 90%;
  }
}
