@use "../abstracts/variables" as *;
@use "../utils/breakpoints" as *;

.comments {
  padding-top: 20px;
}

.replies {
  display: flex;

  &__offset {
    flex: 1;
    .line {
      content: " ";
      width: 3px;
      height: 100%;
      background-color: $liteGray;
    }

    @include breakpoint(tablet) {
      margin-right: 30px;
      display: flex;
      justify-content: center;
    }
  }

  &__replies {
    width: 90%;
  }
}
