@use "../abstracts/variables" as *;
@use "../utils/breakpoints" as *;

.comments {
  padding-top: 20px;
}

.comments__replies {
  display: flex;

  &--list {
    width: 90%;
  }
}

.comments__offset {
  flex: 1;

  &--line {
    content: " ";
    width: 3px;
    height: 100%;
    background-color: $liteGray;
  }
}

@include breakpoint(tablet) {
  .comments__offset {
    margin-right: 30px;
    display: flex;
    justify-content: center;
  }
}
