@use "../abstracts/variables" as *;
@use "../utils/breakpoints" as *;

/* Mixins */

@mixin buttons {
  border: none;
  background-color: transparent;
  cursor: pointer;

  path {
    transition: 0.2s;
  }

  &:active {
    transform: scale(0.8);
  }

  &:hover:not(.comment__current-user-btn--delete) {
    path {
      fill: $modBlue;
    }
  }
}

@mixin chatButtons {
  display: flex;
  align-items: center;
  gap: 7px;

  font-size: 1.1rem;
  font-weight: $mediumWg;
  transition: 0.25s;

  &:hover {
    opacity: 0.4;
  }
}

/* CSS Starts */

.comment {
  margin-bottom: 15px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  background-color: $white;
  border-radius: $borderRad;
}

.comment__content {
  padding: 0 20px;
}

.comment__header {
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  gap: 20px;
}

.comment__header--row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.comment__header--avatar {
  width: 35px;
}

.comment__header--current-user {
  background-color: $modBlue;
  color: $white;
  padding: 2px 7px;
}

.comment__header--user {
  color: $darkBlue;
  font-weight: $mediumWg;
}

.comment__buttons {
  display: flex;
  justify-content: space-between;
}

.comment__likes {
  display: flex;
  align-items: center;
  gap: 10px;

  background-color: $liteGray;
  padding: 5px 10px;
  border-radius: 7px;

  &--plus-btn {
    @include buttons;
  }

  &--score {
    color: $modBlue;
    font-weight: $mediumWg;
  }

  &--minus-btn {
    @include buttons;
    display: flex;
    align-items: center;
  }
}

.selected > path {
  fill: $modBlue;
}

.comment__reply--btn {
  @include buttons;
  @include chatButtons;

  color: $modBlue;
}

.comment__current-user-btn {
  display: flex;
  flex-wrap: nowrap;

  &--delete {
    @include buttons;
    @include chatButtons;
    margin-right: 12px;

    color: $softRed;
  }

  &--edit {
    @include buttons;
    @include chatButtons;

    color: $modBlue;
  }
}

.tablet {
  display: none;
}

/* 


        BREAKPOINTS


*/

@include breakpoint(tablet) {
  .comment {
    flex-direction: row-reverse;
    min-height: 150px;
  }

  .comment__header {
    justify-content: space-between;
  }

  .comment__content {
    flex: 9;
  }

  .comment__likes {
    max-height: 100px;
    padding: 10px 10px;

    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }

  .mobile {
    display: none;
  }

  .tablet {
    display: flex;
  }
}
