@use "../abstracts/variables" as *;
@use "../utils/breakpoints" as *;

.input-box {
  padding: 15px;
  margin: 10px auto;

  border-radius: $borderRad;
  background-color: $white;

  .desktop {
    @include breakpoint(tablet) {
      display: unset;
    }
  }
}

.input-box__body {
  margin-bottom: 10px;

  &--avatar {
    width: 30px;
  }

  &--input {
    width: 99%;
    height: 100%;
    min-height: 80px;
    padding: 10px 20px;
    margin: 1px;
    resize: none;
    border-color: $liteGray;
    border-radius: 5px;

    &:focus {
      outline: 1px solid $modBlue;
    }
  }
}

.input-box__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-box__submit-btn {
  padding: 12px 25px;

  color: $white;
  background-color: $modBlue;
  font-weight: $boldWg;

  border: 1px solid transparent;
  border-radius: $borderRad;
  cursor: pointer;
  transition: 0.25s;

  &:hover {
    opacity: 0.4;
  }

  &:active {
    transform: scale(0.8);
  }
}

/*

      BREAKPOINTS

*/

@include breakpoint(tablet) {
  .input-box {
    display: flex;
    align-items: flex-start;
    gap: 15px;
  }

  .input-box__body {
    display: flex;
    gap: 10px;
    flex: 9;

    &--avatar {
      width: 35px;
      height: 35px;
    }

    &--input {
      min-height: 100px;
    }
  }
}
